/*
selector {
    attribute: value;
}

*       전체 적용
id      고유의 것  #
class   분류할 수 있음 . 
TAG     특정 태그 선택

selector1 selector2         selector1 요소의 자손 selector2를 선택 
selector1 > selector2       selector1 요소의 자식 중 모든 selector2를 선택
selector1, selector2        일치하는 모든 요소 선택(우리가 알고있는 , )
selector1 + selector2       selector1 요소를 뒤따르는 selector2요소를 선택(딱 그것만)
selector1 ~ selector2       selector1 요소가 앞에 존재하면 selector2를 선택(계쏙 적용)
selector:first-child()      selector 요소 중 첫번째 선택
selector:nth-child(n)       형제 요소 중에서 특정 순서(n)에 있는 요소를 선택
selector:hover selector     요소에 마우스가 올라가는 동안 selector를 선택


hover : 띄움..? 

우선순위 (시험 각)
1. !important
2. #id
3. .class 
4. TAG 
5. *
6. 같은 우선순위일 때, 나중에 쓴게 적용




*/

