body {
    background-color: darkcyan;
}


/* tablet */
@media screen and (min-width: 541px){
    body {
        background-color: rgb(113, 184, 255);  
    }
}

/* desktop */
@media screen and (min-width: 721px){
    body {
        background-color: crimson;
    }
}
